.leftPanel {
  width: 350px;
  display: flex;
  flex-direction: column;
  background-color: var(--colorBlue);
  padding: 40px;
  gap: 10px;
  color: white;
  height: 100vh;
}

.leftPanelUsername {
  display: flex;
  justify-content: space-between;
}

.logoutButton {
  text-decoration: underline;
  cursor: pointer;
}